*{
	box-sizing: border-box;
	}
/**************************************HOMEPAGE FORMAT*****************************************/
/*************************************NAV BAR & TITLE BEGINS HERE *****************************************/
nav{
	background-color:  #5D001E;
	opacity: 89%;
	height: 125px;
}
.navbar-brand h1{
	margin-left: 2.5em;
	font-size: 3em;
	font-family: 'Black Ops One', cursive;
}
/*************************************NAV BAR & TILE FORMAT ENDS HERE**********************************/

/*************************************HOMEPAGE MAIN CONTENT FORMAT BEGINS HERE**********************************/
.btn{
	background-color: #1A1A1D;
	border-color: #1A1A1D;
	color: #adadad;
	border-radius: 20px;
	font-size: 44px;
	font-family: 'Fredericka the Great', cursive;
}

#hostastage{
	width: 370px;
}
#enterahall{
	width: 450px;
	margin-left: -1em;
	margin-top: 2em;
}

/*************************************HOMEPAGE MAIN CONTENT FORMAT ENDS HERE**********************************/

/********** Large devices only **********/
@media (min-width: 1200px) {
  body{
	background: url('../image/stage1.1.jpg');
  }
  .mainpagebtn{
	padding: 5px;
	margin: 7.3em 30px 0px 50em;/*trbl*/
    }

}
 
/********************************************** Medium devices only **********************************************/
@media (min-width: 981px) and (max-width: 1199px) {
	body{
	background: url('../image/stage1.1.jpg');
  }
  .mainpagebtn{
	padding: 5px;
	margin: 7em 12em 50px 35em;
    }
} 
/************************************************** SMALL DEVICE ***************************************************/
@media (max-width: 980px) {
	body{
	background: url('../image/stage 1.2.jpg');
    }
    nav{
	height: 250px;
    }  
	.navbar-brand h1{
		font-size:3.3em;
	}
	.mainpagebtn{
	    padding: 5px;
	    margin: 69em 50px 0px 15em;
    }
    #hostastage{
	    width: 500px;
	    height: 100px;
    }
    #enterahall{
	    width: 600px;
	    height: 100px;
	    margin-left: -1em;
	    margin-top: 2em;
    }
}
