*{
	box-sizing: border-box;
	}
/**************************************HOMEPAGE FORMAT*****************************************/
/*************************************NAV BAR & TITLE BEGINS HERE *****************************************/
nav{
	background-color:  #5D001E;
	opacity: 89%;
	height: 125px;
	/*width: 85.4em;*/
}
#sitename{
	margin-left: 2.5em;
	font-family: 'Black Ops One', cursive;
}
/*************************************NAV BAR & TILE FORMAT ENDS HERE**********************************/

/*************************************HOMEPAGE MAIN CONTENT FORMAT BEGINS HERE**********************************/
.btn{
	background-color: #1A1A1D;
	border-color: #1A1A1D;
	color: #adadad;
	border-radius: 20px;
	font-size: 40px;
	font-family: 'Fredericka the Great', cursive;
	/*width: 500px;*/
}

#hostastage{
	width: 350px;
}
#enterahall{
	width: 450px;
	margin-left: -1em;
	margin-top: 3em;
}

/*************************************HOMEPAGE MAIN CONTENT FORMAT ENDS HERE**********************************/
/********** Large devices only **********/
@media (min-width: 1200px) {
  #sitename{
		font-size: 55px;
	}
  .mainpagebtn{
	padding: 5px;
	margin: 7em 30px 0px 50em;/*trbl*/
    }
}
 
/********************************************** Medium devices only **********************************************/
@media (min-width: 992px) and (max-width: 1199px) {
  .mainpagebtn{
	padding: 5px;
	margin: 7em 30px 0px 45em;
    }
} 
/************************************************** SMALL DEVICE ***************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  #sitename{
		font-size: 49px;
	}
	/*nav{
		width: 66em;
	}*/
.mainpagebtn{
	padding: 5px;
	margin: 5em 0px 0px 33em;
    }
}
  
/********************************************* Extra small devices only *************************************/
@media (min-width: 200px) and (max-width: 767px) {
 /*nav{
		width: 100em;
		height:500px;
	}*/
.mainpagebtn{
	padding: 5px;
	margin: 50em 45em 0px 50em;
    }
}


